<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="startup:ServiceHost:Uri" value="http://localhost:9090/santa"/>
        <add key="startup:RabbitMQ:AmqpUri" value="amqp://guest:guest@localhost:5672/%2f"/>
    </appSettings>
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WaitingForCalls">
                    <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"
                                       maxConcurrentInstances="1000" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WaitingForCalls"
                     name="Nelibur.ServiceModel.Services.Default.JsonServicePerCall">
                <endpoint binding="webHttpBinding" contract="Nelibur.ServiceModel.Contracts.IJsonService" />
                <host>
<!--                    <baseAddresses>-->
<!--                        <add baseAddress="http://localhost:9090/santa" />-->
<!--                    </baseAddresses>-->
                </host>
            </service>
        </services>
    </system.serviceModel>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>